.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 16px 22px;
  background: transparent;
}
.icon-btn-moon {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 0;
  background: #ffffff;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
  color: #000000;
  transition: transform 0.12s ease;
  &:hover {
    transform: translateY(-1px);
  }
}

.navbar__inner {
  height: 80px;
  background-color: transparent;
  padding: 0 22px;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.492);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.navbar__logo {
  justify-self: start;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.navbar__logo .logo-mark {
  display: inline-grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  font-weight: 700;
  color: #0e0e0e;
}

.navbar__center {
  justify-self: center;
}

.navbar__actions {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 6px 16px;
  height: 50px;
  background: #ffffff;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

.menu__item a {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  opacity: 0.95;
  transition: opacity 0.2s ease;
  padding: 8px 10px;
}

.menu__item a:hover {
  opacity: 1;
}

.menu__divider {
  width: 42px;
  height: 1px;
  background: rgb(0, 0, 0);
  display: inline-block;
}

.icon-btn__text {
  color: #ffff;
}
.logo-mark {
  display: inline-grid;
  place-items: center;
  width: 80px;
  height: 80px;
}
.icon-btn {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  border: 0;
  background: #848484;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn:hover {
  filter: brightness(0.97);
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  font-family: "Bai Jamjuree";
}

/* ==== CTA ==== */
.cta {
  --pad-x: 14px;
  display: inline-flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  background: #ffffff;
  padding: 8px var(--pad-x) 8px calc(var(--pad-x) - 2px);
  border-radius: 999px;
  font-size: 14px;
  color: #000000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  transition: color 0.4s ease;
  border: 1px solid #0e0e0e;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffbc05;
  transform: translateX(101%);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

.cta:hover::before {
  transform: translateX(0);
}

.cta:hover {
  color: #ffffff;
}
.cta:hover .cta__dot {
  background-color: #ffffff;
  color: #000000;
  transform: translateX(0);
  transition: transform 4s ease-in-out;
}

.cta__text {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.cta__dot {
  position: relative;
  flex-shrink: 0;
  background-color: #000000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  color: #ffffff;
  right: 0;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.menu__item a:hover {
  color: #ffffff;
  background: #ffbc05;

  transform: translateY(-5px);
  border-radius: 50px;
}

@media (max-width: 820px) {
  .navbar__inner {
    grid-template-columns: 1fr auto;
  }

  .navbar__center {
    display: none;
  }
}

.burger__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.burger span {
  position: absolute;
  width: 18px;
  height: 2px;
  background: #000000;
  left: 50%;
  transform: translateX(-50%);
  transition:
    transform 0.25s ease,
    opacity 0.2s ease,
    top 0.25s ease;
}

.burger span:nth-child(1) {
  top: 13px;
}

.burger span:nth-child(2) {
  top: 19px;
}

.burger span:nth-child(3) {
  top: 25px;
}

#nav-toggle:checked + .navbar__inner .navbar__actions .burger span:nth-child(1) {
  top: 19px;
  transform: translateX(-50%) rotate(45deg);
}

#nav-toggle:checked + .navbar__inner .navbar__actions .burger span:nth-child(2) {
  opacity: 0;
}

#nav-toggle:checked + .navbar__inner .navbar__actions .burger span:nth-child(3) {
  top: 19px;
  transform: translateX(-50%) rotate(-45deg);
}

.mobilemenu {
  position: fixed;
  inset: 76px 0 0 0;
  background: rgba(9, 12, 20, 0.92);
  backdrop-filter: blur(2px);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: 49;
}

.mobilemenu ul {
  list-style: none;
  margin: 0;
  padding: 18px 0 24px;
  display: grid;
  gap: 18px;
  text-align: center;
}

.mobilemenu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2px;
}

#nav-toggle:checked ~ .mobilemenu {
  opacity: 1;
  height: 200px;
  transform: translateY(0);
  background-color: #4b4b4b;
  pointer-events: auto;
}

@media (max-width: 820px) {
  .burger {
    display: inline-flex;
  }
}
