.contentc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1600px;
  justify-items: center;
  z-index: 999;
  margin-right: 8rem;
}
